@import "src/assets/colors.scss";

.pagesContainer {
  margin-top: 40px;

  padding-top: 30px;
  margin-right: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;

  border-top: 1px solid $color-shark;
}

.pagesBtn {
  box-sizing: border-box;
  color: $color-heliotrope;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 40px;
  height: 40px;
  padding: 5px;
  &:hover {
    border: 1px solid $color-heliotrope;
    border-radius: 10px;
  }
}

.pagesPageNum {
  box-sizing: border-box;
  padding: 5px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-heliotrope;
  min-width: 40px;
  height: 40px;
  border-radius: 10px;
  color: $color-heliotrope;
}

.pagesBtn.inactive {
  pointer-events: none;
  color: $color-bombay;
}
