$default-bg: #323537;
$white: #ffffff;
$border-primary: #7b61ff;

.input {
  background-color: $default-bg;
  color: $white;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 10px;

  &:hover {
    border: 2px solid $border-primary;
  }
}
