$default: #80858b;
$primary: #7b61ff;
$light: #afb2b6;

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: fit-content;
  margin-top: 64px;
}
.menuItem {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 25px;

  color: $default;
  fill: $default;

  &:hover {
    color: $primary;
    fill: $primary;
  }
}
