$default: #80858b;
$primary: #7b61ff;
$light: #afb2b6;

.sidebarContainer {
  // border: 1px solid red;
  // background-color: aquamarine;

  box-sizing: border-box;
  color: white;
  width: 25%;
  overflow: hidden;
  height: 100vh;
  padding: 50px 40px 14px 64px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: fit-content;
  margin-top: 64px;
}
.menuItem {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  align-items: center;
  gap: 25px;

  color: $default;
  fill: $default;

  &:hover {
    color: $primary;
    fill: $primary;
  }
}
.sidebarText {
  color: $light;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.logo {
  margin: 0;
  padding: 0;
  width: fit-content;
}

@media (max-width: 1280px) {
  .sidebarContainer {
    display: none;
  }
}
